@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* solve scrolling issue past content
https://stackoverflow.com/questions/12046315/prevent-overscrolling-of-web-page
*/
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;

  @apply font-sans text-lg text-gray-950;
}
